.cart_container {
    border-radius: 12px;
    background-color: #fff;
    padding: 1.5rem 2rem 2.5rem;
}

.cart_container-header {
    color: var(--red);
    font-size: 1.35rem;
}

.cart_container-empty {
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.cart_container-empty_text {
    font-size: .75rem;
    font-weight: 500;
    color: var(--rose500);
    margin-top: 1rem;
}

.cart_item-container {
    border-bottom: 1px solid var(--rose100);
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_item-container_left-inner {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .4rem 0 1rem;
}

.cart_item-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--rose900);
}

.cart_font-size {
    font-size: 0.875rem;
}

.cart_item-quantity {
    color: var(--red);
    font-weight: 600;
}

.cart_item-price {
    color: var(--rose500)
}

.cart_item-total {
    color: var(--rose500);
    font-weight: 500;
}

.cart_item-remove_btn {
    border-radius: 50%;
    padding: .2rem;
    background-color: transparent;
    border: 2px solid var(--rose300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.total_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

.total_text {
    font-size: .8rem;
    color: var(--rose500);
    font-weight: 550;
}

.total_amount {
    font-size: 1.25rem;
    color: var(--rose900);
}

.carbon_neutral {
    background-color: var(--rose50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: .5rem;
    padding-block: .85rem;
}

.carbon_text {
    font-size: .75rem;
    color: var(--rose500);
}

.carbon_text-bold {
    font-weight: 650;
}

.confirm_btn {
    background-color: var(--red);
    margin-top: 1.5rem;
    color: #fff;
    width: 100%;
    border-radius: 25px;
    font-weight: 600;
    padding-block: .9rem;
    transition: .2s all ease-in-out;
}

.confirm_btn:hover {
    background-color: rgb(136, 9, 0);
}



/* confirmation cart */
