.cart_item-container {
    outline: 2px solid red;
    padding-block: 2rem;
}

.confirm-cart_item-container {
    outline: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.desserts_img-thumbnail {
    border: 2px solid purple;
    width: 50px;
}

.confirm-cart_inner-flex_bottom {
    display: flex;
    align-items: center;
    gap: 2rem;
}