/* .desserts_container {
    background-color: black;
} */

.desserts_header {
    font-size: 2.5rem;
    color: var(--rose900);
    margin-bottom: 1rem;
}

.desserts_grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    ;
    gap: 2rem;
}

.desserts_img {
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;
}

.desserts_add-btn {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 60%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #fff;
    border: 1.2px solid var(--rose500);
    border-radius: 30px;
    transition: .2s all ease-in-out;
}

.desserts_add-btn_active {
    background-color: var(--red);
    align-items: center;
    justify-content: space-between;
    border: none;
    gap: 2rem;
}

.cart_btn {
    background-color: transparent;
    border: 1.5px solid #fff;
    color: #fff;
    border-radius: 50%;
    padding: .25rem;
    display: grid;
    place-items: center;
    margin: auto;
}

.cart_btn:hover {
    background-color: #fff;
    color: var(--red);
}

.icon {
    font-size: 12px;
    text-align: center;
}

.item_quantity {
    color: #fff;
    font-size: 1rem;
}

.cart_text {
    font-weight: 500;
    color: var(--rose900);
}

.dessert_category {
    font-size: .7rem;
    color: var(--rose400);
}

.dessert_name {
    font-size: .85rem;
    color: var(--rose900);
    font-weight: 500;
}

.dessert_price {
    font-size: .85rem;
    color: var(--red);
    font-weight: 500;
}


/* mobile responsiveness */
@media (max-width: 768px) {

    .desserts_grid-container {
        display: block;
    }

    .desserts_card {
        margin-bottom: 2.5rem;
    }

    .desserts_add-btn {
        width: 50%;
    }


}