.desserts_container {
    /* background-color: black; */
}

.desserts_header {
    font-size: 1.625rem;
    color: var(--rose900);
}

.desserts_grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    ;
    gap: 2rem;
}