/* import font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* reset css */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* body style */
body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(20, 50%, 98%);
}

/* media default */
img {
  max-width: 100%;
  display: block;
}

/* font inherit */
input, button {
  font-family: inherit;
}

button {
  border: none;
  padding: .65rem 1.15rem;
  /* height: 3rem; */
  cursor: pointer;
  transition: .2s all ease-in-out;
}

/* word wrap */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a, li {
  list-style: none;
  text-decoration: none;
}


/* container */
.container {
  /* border: 1px solid red; */
  margin: 5% 6%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.left_container {
  width: 63%;
  /* border: 2px solid green; */
}

.right_container {
  /* border: 2px solid purple; */
  width: 30%;
  /* background-color: #fff; */
  /* position: fixed;
  right: 5%; */
}



/*mobile responsiveness*/
@media (max-width: 500px) {
  .container {
    display: block;
  }

  .left_container,
  .right_container {
    width: 100%;
  }
}